body{
    padding: 0px;
    margin: 0px;
    font-family: 微軟正黑體;
    font-weight: bolder;
    min-width: 1200px;
    background-color: rgb(0, 0, 0);
}



div.header{
  /* border: 5px solid red; */
  width: 100%;
  display: flex;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6),  rgba(32, 32, 32,0.5));
  position: fixed;
  z-index:8;
  justify-content: space-between;
  top: 0;
}





div.logo{
  /* border: 1px solid rgb(243, 50, 50); */
  width: 180px;
  height: 70px;
  margin-top: 15px;
}


div.logo img{
  /* border: 1px solid rgb(17, 0, 255); */
  height: 80%;
  width: 80%;
}


/*app版選單*/
button.hamburger{
  outline: none;
  margin-top: 14px;
  /* padding-left: -50px; */
  display: none;
}


 
@media screen and (min-width:932px) and (max-width:991px){
  button.hamburger{
      margin-left: -310%;
      display: block;
  }
}

@media screen and (min-width:881px) and (max-width:931px){
  button.hamburger{
      margin-left: -280%;
      display: block;
  }
}

@media screen and (min-width:815px) and (max-width:880px){
  button.hamburger{
      margin-left: -250%;
      display: block;
  }
}

@media screen and (min-width:760px) and (max-width:814px){
  button.hamburger{
      margin-left: -220%;
      display: block;
  }
}
@media screen and (min-width:693px) and (max-width:759px){
  button.hamburger{
      margin-left: -190%;
      display: block;
  }
}
@media screen and (min-width:631px) and (max-width:693px){
  button.hamburger{
      margin-left: -160%;
      display: block;
  }
}
@media screen and (min-width:576px) and (max-width:630px){
  button.hamburger{
      margin-left: -130%;
      display: block;
  }
}
@media screen and (max-width:575px){
  button.hamburger{
      margin-left: -100%;
      display: block;
  }
}

ul.app-nav_move{
  /* border: 1px solid rgb(255, 0, 0); */
  padding:0;
  width: 100%;
  display: none;
}

li.app-navigation{
  /* border: 1px solid rgb(182, 9, 110); */
  list-style: none;
}

li.app-navigation :hover{
 color: rgb(0, 120, 214);
 ;

}


li.app-navigation>a{
 color: white;
 text-decoration: none;
 line-height: 50px;
 font-size: 24px;
 height: 50px;
 display: block;
 text-align: center;
}






/*web版選單*/

nav.web-nav{
  margin-left: -31%;
}

ul.web-nav_move{
  /* border: 1px solid rgb(0, 0, 0); */
  padding:0;
  display: flex;
  margin-top: 18px;
  width: 100%;
}


li.navigation{
   /* border: 1px solid rgb(182, 9, 110); */
   list-style: none;
   width: 120px;
}

li.navigation :hover{
  color: rgb(0, 120, 214);
  ;

}


li.navigation>a{
  color: white;
  text-decoration: none;
  line-height: 50px;
  font-size: 24px;
  height: 50px;
  display: block;
}




div.search_bar{
margin-left: -2%;
display: flex;
}

form.formsize{
height: 30px;
}




div.box{
width: 150px;
margin-top: 20px;
}

.container-2{
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  
}

.container-2 input#search{
  width: 40px;
  height: 40px;
  background: #4d4c4c;
  border: none;
  font-size: 10pt;
  float: left;
  padding-left: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
 
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
  -webkit-appearance:none;
}


.container-2 input#search::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
  font-size: 15px;
}

.container-2 input#search:-moz-placeholder { 
  color: rgb(255, 255, 255); 
}

.container-2 input#search::-moz-placeholder { 
  color:rgb(255, 255, 255);
}

.container-2 input#search:-ms-input-placeholder {  
  color:rgb(255, 255, 255);
}

.container-2 .icon{
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-left: 16px;
  margin-top: 9px;
  z-index: 1;
  color: rgb(0, 120, 214);
}


.container-2 input#search:focus, .container-2 input#search:active{
outline:none;
width: 150px;
}

.container-2:hover input#search{
width: 150px;
}

.container-2:hover .icon{
color: rgb(255, 255, 255);
}


a.login_size{
  width: 37px;
  height: 35px;
}



img.login{
  margin-top: 23px;
  width: 37px;
  height: 35px;
}


/*以下是lightbox效果*/

.lightbox-target {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  /* 預設透明度為 0，觸發 :target 後，利用動畫效果調整透明度 */
  opacity: 0;
  position: fixed;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  z-index: 999;
  left: 0;
  right: 0;
}

/* 當 :target 觸發後，index-target 的透明度為 1 */
.lightbox-target:target {
  top: 0;
  bottom: 0;
  opacity: 1;
}	

.lightbox-close {
  width: 50px;
  height: 50px;
  background: rgb(0, 120, 214);
  color: #fff;
  position: absolute;
  top: 5%;
  right: 5%;
}
/* 利用偽元素做出 \ 以及 / 的線條 */
.lightbox-close:after {
  width: 30px;
  height: 2px;
  content: "";
  display: block;
  background: #fff;
  position: absolute;
  top: 23px;
  left: 10px;
  transform: rotate(45deg);
}
.lightbox-close:before {
  width: 30px;
  height: 2px;
  content: "";
  display: block;
  background: #fff;
  position: absolute;
  top: 23px;
  left: 10px;
  transform: rotate(-45deg);
}
.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 90%;
  height: 90%;
  /* background: rgb(7, 170, 245); */
  margin: auto;

  /* 預設寬高為 0，觸發 :target 後，利用動畫效果展開寬與高 */		
  max-width: 50%;
  max-height: 50%;
}


/*以下是表單部分*/



#username, #password, h3, #fullname, #comfirm_password,#username2, #password2{
  width: 200px;
  height: 20px;
  margin: 10px;
  color: rgb(0, 120, 214);

}

h5{
  margin: 20px;
  color: #a3a2a3;
}

h5:hover{
  color: black;
  cursor: pointer;
}

#container1, #container2{
  margin: 50px;
  padding: 10px;
  width: 230px;
  height: 300px;
  background-color: white;
  border-radius: 5px;
  border-top: 10px solid  rgb(0, 120, 214);

  box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
  
  /*定位對齊*/
  position:relative;   
  margin: auto;
  top: 100px;
  text-align:center;  
}

.system_name{
  /*定位對齊*/
  position:relative;   
  margin: auto;
  top: 100px;
  text-align:center; 
}

.submit{
  color: white;  
  background:  rgb(0, 120, 214);
  ;
  width: 200px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 0px;
}

.submit:hover{
  background: rgb(0, 120, 214);
  ;
  cursor: pointer;
}

#container2{
  visibility: hidden;   /*剛開始消失*/
  height: 350px;
}


#copyright{
  text-align: center;
  color: #a3a2a3;
  margin: -200px 0px 0px 0px;
  font-size: 14px;
}

input{
  padding: 5px;
  border: none; 
  border:solid 1px #ccc;
  border-radius: 5px;
}



@media screen and (min-width:991px){
  li.app-navigation{display: none;}
}

@media screen and (max-width:991px){
  ul.web-nav_move{
      display: none;
  }
  
  
  
  ul.app-nav_move{
      position: absolute;
      top: 71px;
      left:0.02%;
  }
  li.app-navigation{
      background: rgba(0, 0, 0, 0.7);  
      opacity: 0;      
  }
  
}








div.wrapper{
    width: 100%;
}




li.active a{
    font-size: 18px;
}


ul.nav li a{
    color: white;
}

ul.nav li a:hover{
    color: #FF9933;
}


/*以下是  卡片向外散開*/

div.tab-container{
    /* border: 50px solid green; */
    margin-top: 150px;
}



div.tab-content{
    /* border: 10px solid rgb(243, 189, 9); */
    margin: 0 auto;
    /* min-width: 1200px; */
}


.centered-wrap{
    /* position:absolute;
    top:500px;
    left:720px;
    transform:translate(-50%,-50%);  */
    display: flex;
    justify-content: space-around;
  }
  

  .centered-wrap .photo{
    /* min-width:240px; 
    min-height: 427px; */
    margin:2% 0px;
    position:relative;
  }
  
  .centered-wrap .photo img{
    /* width:100%;  */
    height: 427px;
  }
  
  /*1st img*/
  .centered-wrap .hover-box:nth-of-type(1) .photo{
    animation:left-ani1 1s linear forwards;
    transform:scale(0.9);
    z-index:2;
  }
  
  /*1st img animation*/
  @keyframes left-ani1{
    0%{
      left:200%;
    }
    100%{
      left:0%;
    }
  }
  
  /*2nd img*/
  .centered-wrap .hover-box:nth-of-type(2) .photo{
    animation:left-ani2 1.2s linear forwards;
    transform:scale(0.9);
    z-index:4;
  }
  
  /*2nd img animation*/
  @keyframes left-ani2{
    0%{
      left: 125%;
    }
    100%{
      left:0%;
    }
  }
  /*3rd img a.k.a centered img*/
  .centered-wrap .hover-box:nth-of-type(3) .photo{
    z-index:5;
  }
  
  /*4th img*/
  .centered-wrap .hover-box:nth-of-type(4) .photo{
    animation:right-ani1 1.2s linear forwards;
    transform:scale(0.95);
    z-index:4;
  }
  
  /*4th img animation*/
  @keyframes right-ani1{
    0%{
      right: 125%;
    }
    100%{
      right:0%;
    }
  }
  
  /*5th img*/
  .centered-wrap .hover-box:nth-of-type(5) .photo{
    animation:right-ani2 1s linear forwards;
    transform:scale(0.9);
    z-index:2;
  }
  
  /*5th img animation*/
  @keyframes right-ani2{
    0%{
      right: 200%;
    }
    100%{
      right:0%;
    }
  }


/*以下是  點擊卡片出現內容簡介*/

    .hover-box {
    min-width: 240px;
    min-height: 427px;
    margin: 0 ;
    box-sizing: border-box;
    position:relative; 
    cursor: pointer;
  } 


  h3{
      color: #FF9933;
      font-size: 18px;
  }

  .hover-box h2{
      color: rgb(255, 255, 255);
  }


  .hover-box .photo img {
    margin: auto;
    transition: transform 0.5s;
  }
  
  .hover-box:hover .photo img {
    transform: scale(1.1);
  }

  .hover-box .info-box {
    position: absolute;
    left: 10px;
    top: 10px;
    bottom:10px;
    right:10px;
    background:rgba(0,0,0,.6);
    transform:scaleY(0);
    transition:transform .5s;
    z-index: 6;
  } 
  
  .info-content{
    width:200px; 
    height: 427px;
    color:#fff;
    margin-top: 60px;
  }

  .info-content h2{
      font-size: 30px;
      text-shadow: black 0.1em 0.1em 0.3em
  }


  .info-content p{
    font-size: 15px;
    text-shadow: black 0.1em 0.1em 0.3em
  }

  .hover-box .info-box .info-content{
    
    position:absolute;
    top:50%;
    transform:translateY(-50%);
  }

  .hover-box:hover .info-box {
    transform:scaleY(1);
  }




  div.play_and_introduce{
    /* border: 6px solid rgb(255, 251, 16); */
    width: 220px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    /* top: 73%; */
}




  div.play_button{
    /* border: 1px solid rgb(255, 102, 0); */
    width: 100px;
    height: 50px;
    /* margin-left: 30px; */
    border-radius: 10px;
    background-color: rgba(255, 153, 51, 0.6);
}

div.play_button:hover{
   
    background-color: rgba(255, 255, 255, 0.8);
    
    
}

div.play_button>a{
    color: rgba(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 10px ;
    text-shadow: 1px 1px .5px rgb(0, 0, 0) ;
    line-height: 50px;
    margin-left: 25px;
}
div.play_button:hover a{

    color: black;
    text-shadow: .2px .2px .1px rgb(255, 255, 255) ;
}




div.addmylist{
    /* border: 1px solid rgb(255, 102, 0); */
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(255, 153, 51, 0.6);
}

div.addmylist:hover{
   
    background-color: rgba(255, 255, 255, 0.8);
    
    
}

div.addmylist>a{
    color: rgba(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 1px ;
    text-shadow: 1px 1px .5px rgb(0, 0, 0) ;
    line-height: 50px;
    margin-left: 7px;
}
div.addmylist:hover a{

    color: black;
    text-shadow: .2px .2px .1px rgb(255, 255, 255) ;
}



footer.secondaryinfor{

  /* border: 5px solid rgb(250, 72, 27); */
  width: 100%;
  background-color: black;
}



div.upper-infor{
  display: flex;
  justify-content: space-around;
  width: 100%;
  }





  div.showbox_logo a>img{
      /* border: 5px solid rgb(30, 255, 0); */
      width: 190px;
      height: 60px;
      margin-top: 6px;
  }





  div.copyright h1{
      color: rgb(255, 255, 255);
      font-size: 150%;
      font-weight: lighter;
      display: inline-block;
      margin-top: 25px;
  }


  div.connect_socialmedia{
      margin-top: 17px;
  }

  div.connect_socialmedia a img{
      width: 60px;
      height: 40px;
      padding-right: 20px;
  }



@media screen and (min-width:576px) and (max-width:991px){
  div.upper-infor{
      flex-wrap: wrap;
  }

}
@media screen and (max-width:575px){
  div.upper-infor{
      flex-wrap: wrap;
  }

  div.copyright h1{
      font-size:88%;
  }
  div.showbox_logo a>img{
      width: 120px;
      height: 40px;
      margin-top: 4px;
  }
  div.connect_socialmedia a img{
      width: 60px;
      height: 40px;

  }

}

