body{
    padding: 0px;
    margin: 0px;
    font-family: 微軟正黑體;
    font-weight: bolder;
    /* background-color: rgb(29, 29, 29); */
}


div.header{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6),  rgba(32, 32, 32,0.5));
    position: fixed;
    z-index:11;
    justify-content: space-between;
}






section.bannerinformation{
    /* border: 20px solid rgb(0, 255, 221); */
    width: 100%;
    position: relative;
}




div.banner{
    width: 100%;
}


section.category{
    width: 100%;
    /* border: 10px solid rgb(250, 234, 13); */
    position: relative;
    margin-top: 60px;
}




section.featuretext{
    /* border: 1px solid rgb(250, 234, 13); */
    width: 100%;
   
}

div.feature_movie{

    /* border: 1px solid rgb(255, 241, 44); */
    width: 100%;
}



section.rankcontent{
    /* border: 5px solid rgb(110, 3, 233); */
    width: 100%;
    background-color: rgb(0, 0, 0);
}



@media screen and (max-width:575px){
    section.rankcontent{
        margin-top: -500px;
    }
}




footer.secondaryinfor{

    /* border: 5px solid rgb(250, 72, 27); */
    width: 100%;
    background-color: black;
}



/*以下是LOGO、選單、搜尋、登入*/



div.logo{
    /* border: 1px solid rgb(243, 50, 50); */
    width: 180px;
    height: 70px;
    margin-top: 15px;
}


div.logo img{
    /* border: 1px solid rgb(17, 0, 255); */
    height: 80%;
    width: 80%;
}


/*app版選單*/
button.hamburger{
    outline: none;
    margin-top: 14px;
    /* padding-left: -50px; */
    display: none;
}


   
@media screen and (min-width:932px) and (max-width:991px){
    button.hamburger{
        margin-left: -310%;
        display: block;
    }
}

@media screen and (min-width:881px) and (max-width:931px){
    button.hamburger{
        margin-left: -280%;
        display: block;
    }
}

@media screen and (min-width:815px) and (max-width:880px){
    button.hamburger{
        margin-left: -250%;
        display: block;
    }
}

@media screen and (min-width:760px) and (max-width:814px){
    button.hamburger{
        margin-left: -220%;
        display: block;
    }
}
@media screen and (min-width:693px) and (max-width:759px){
    button.hamburger{
        margin-left: -190%;
        display: block;
    }
}
@media screen and (min-width:631px) and (max-width:693px){
    button.hamburger{
        margin-left: -160%;
        display: block;
    }
}
@media screen and (min-width:576px) and (max-width:630px){
    button.hamburger{
        margin-left: -130%;
        display: block;
    }
}
@media screen and (max-width:575px){
    button.hamburger{
        margin-left: -100%;
        display: block;
    }
}

ul.app-nav_move{
    /* border: 1px solid rgb(255, 0, 0); */
    padding:0;
    width: 100%;
    display: none;
}

li.app-navigation{
    /* border: 1px solid rgb(182, 9, 110); */
    list-style: none;
}

li.app-navigation :hover{
   color: rgb(0, 120, 214);
   ;

}


li.app-navigation>a{
   color: white;
   text-decoration: none;
   line-height: 50px;
   font-size: 24px;
   height: 50px;
   display: block;
   text-align: center;
}






/*web版選單*/

nav.web-nav{
    margin-left: -31%;
}

ul.web-nav_move{
    /* border: 1px solid rgb(0, 0, 0); */
    padding:0;
    display: flex;
    margin-top: 18px;
    width: 100%;
}


li.navigation{
     /* border: 1px solid rgb(182, 9, 110); */
     list-style: none;
     width: 120px;
}

li.navigation :hover{
    color: rgb(0, 120, 214);
    ;

}


li.navigation>a{
    color: white;
    text-decoration: none;
    line-height: 50px;
    font-size: 24px;
    height: 50px;
    display: block;
}




div.search_bar{
margin-left: -2%;
display: flex;
}

form.formsize{
height: 30px;
}




div.box{
width: 150px;
margin-top: 20px;
}

.container-2{
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    
  }

  .container-2 input#search{
    width: 40px;
    height: 40px;
    background: #4d4c4c;
    border: none;
    font-size: 10pt;
    float: left;
    padding-left: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
   
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
    -webkit-appearance:none;
  }


  .container-2 input#search::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
    font-size: 15px;
 }
  
 .container-2 input#search:-moz-placeholder { 
    color: rgb(255, 255, 255); 
 }
  
 .container-2 input#search::-moz-placeholder { 
    color:rgb(255, 255, 255);
 }
  
 .container-2 input#search:-ms-input-placeholder {  
    color:rgb(255, 255, 255);
 }

 .container-2 .icon{
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-left: 16px;
    margin-top: 9px;
    z-index: 1;
    color: rgb(0, 120, 214);
  }


  .container-2 input#search:focus, .container-2 input#search:active{
  outline:none;
  width: 150px;
}
 
.container-2:hover input#search{
width: 150px;
}
 
.container-2:hover .icon{
  color: rgb(255, 255, 255);
}


a.login_size{
    width: 37px;
    height: 35px;
}



img.login{
    margin-top: 23px;
    width: 37px;
    height: 35px;
}


/*以下是lightbox效果*/

.lightbox-target {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    /* 預設透明度為 0，觸發 :target 後，利用動畫效果調整透明度 */
    opacity: 0;
    position: fixed;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    z-index: 999;
    left: 0;
    right: 0;
}

/* 當 :target 觸發後，index-target 的透明度為 1 */
.lightbox-target:target {
    top: 0;
    bottom: 0;
    opacity: 1;
}	

.lightbox-close {
    width: 50px;
    height: 50px;
    background: rgb(0, 120, 214);
    color: #fff;
    position: absolute;
    top: 5%;
    right: 5%;
}
/* 利用偽元素做出 \ 以及 / 的線條 */
.lightbox-close:after {
    width: 30px;
    height: 2px;
    content: "";
    display: block;
    background: #fff;
    position: absolute;
    top: 23px;
    left: 10px;
    transform: rotate(45deg);
}
.lightbox-close:before {
    width: 30px;
    height: 2px;
    content: "";
    display: block;
    background: #fff;
    position: absolute;
    top: 23px;
    left: 10px;
    transform: rotate(-45deg);
}
.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 90%;
    /* background: rgb(7, 170, 245); */
    margin: auto;

    /* 預設寬高為 0，觸發 :target 後，利用動畫效果展開寬與高 */		
    max-width: 50%;
    max-height: 50%;
}


/*以下是表單部分*/
  
 
  
  #username, #password, h3, #fullname, #comfirm_password,#username2, #password2{
    width: 200px;
    height: 20px;
    margin: 10px;
    color: rgb(0, 120, 214);

  }
  
  h5{
    margin: 20px;
    color: #a3a2a3;
  }
  
  h5:hover{
    color: black;
    cursor: pointer;
  }
  
  #container1, #container2{
    margin: 50px;
    padding: 10px;
    width: 230px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    border-top: 10px solid  rgb(0, 120, 214);

    box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
    
    /*定位對齊*/
    position:relative;   
    margin: auto;
    top: 100px;
    text-align:center;  
  }
  
  .system_name{
    /*定位對齊*/
    position:relative;   
    margin: auto;
    top: 100px;
    text-align:center; 
  }
  
  .submit{
    color: white;  
    background:  rgb(0, 120, 214);
    ;
    width: 200px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 0px;
  }
  
  .submit:hover{
    background: rgb(0, 120, 214);
    ;
    cursor: pointer;
  }
  
  #container2{
    visibility: hidden;   /*剛開始消失*/
    height: 350px;
  }
  
  
  #copyright{
    text-align: center;
    color: #a3a2a3;
    margin: -200px 0px 0px 0px;
    font-size: 14px;
  }
  
  input{
    padding: 5px;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 5px;
  }



  @media screen and (min-width:991px){
    li.app-navigation{display: none;}
  }

@media screen and (max-width:991px){
    ul.web-nav_move{
        display: none;
    }
    
    
    
    ul.app-nav_move{
        position: absolute;
        top: 69px;
        left:0.02%;
    }
    li.app-navigation{
        background: rgba(0, 0, 0, 0.7);  
        opacity: 0;      
    }
    
}






/*banner裡面的資訊*/
div.banner video{
    width: 100%;
    /* margin-top: 50px; */
}




div.movie-wrapper{
width: 100%;
position: absolute;
top:20%;
}



div.moviename{
   /* border: 1px solid purple; */
   width: 100%;
   top: 25%;
}



div.moviename>img{
   width: 35%;
   height: 20%;
   margin-left: -5%;
}


div.movietxet{
    /* border: 1px solid rgb(44, 13, 180); */
    width: 400px;
    height: 150px;
}

div.movietxet>p{
    margin-left: 5%;
    color: white;
    font-size: 140%;
    font-weight: lighter;
    letter-spacing: 2px ;
    line-height: 1.2;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45); */
}

div.play_and_introduce{
    /* border: 1px solid rgb(255, 251, 16); */
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: 4%;
}


div.play_button{
    /* border: 1px solid rgb(255, 102, 0); */
    width: 100px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: rgba(0, 120, 214,0.5);
}

div.play_button:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

div.play_button>a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 10px ;
    text-shadow: 1px 1px .5px rgb(0, 0, 0) ;
    line-height: 50px;
    margin-left: 25px;
}
div.play_button:hover a{

    color: rgb(0, 0, 0);
}

div.introduce{
    /* border: 1px solid rgb(255, 102, 0); */
    width: 100px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: rgba(0, 120, 214,0.5);
}

div.introduce:hover{
   
    background-color: rgba(255, 255, 255, 0.5);
    
    
}

div.introduce>a{
    color: rgba(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 1px ;
    text-shadow: 1px 1px .5px rgb(0, 0, 0) ;
    line-height: 50px;
    margin-left: 7px;
}
div.introduce:hover a{

    color: black;
}



div.addmylist{
    /* border: 1px solid rgb(255, 102, 0); */
    width: 100px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: rgba(0, 120, 214,0.5);
}

div.addmylist:hover{
   
    background-color: rgba(255, 255, 255, 0.5);
    
    
}

div.addmylist>a{
    color: rgba(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 1px ;
    text-shadow: 1px 1px .5px rgb(0, 0, 0) ;
    line-height: 50px;
    margin-left: 7px;
}
div.addmylist:hover a{

    color: black;
}

@media screen and (min-width:576px) and (max-width:768px){
    div.banner video{
        margin-top: 10%;
        }
}

@media screen and (max-width:575px){
    div.movie-wrapper{
        position: static;
    }
    div.moviename>img{
        width: 70%;
    }
    div.banner video{
    margin-top: 16%;
    }
}



/*以下是 最新上線*/



div.container{
    border:  70px solid rgb(0, 0, 0);
    width: 100%;
    height:auto ;
    margin-top: 1%;
}




div.postsize:hover{
    margin-top:-20px ;
    padding: .1px;
    z-index: 1;
    transform: scale(1.1);
    

}





section.category p{
    color: white;
    font-size: 50px;
    margin-top: 1%;
    position: relative;
    margin-bottom: -116px;
    z-index: 5;
    text-align: center;
}

section.category p a{
    color: white;
    font-size: 40px;
    margin-left: 10px;
    text-decoration: none;
}


/*以下是 精選電影*/

div.feature_movie{
    border: 70px solid rgba(226, 45, 129, 0);
    width: 100%;
}



section.featuretext p{
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 80px;
}

section.featuretext p a{
    color: white;
    font-size: 11px;
    margin-left: 10px;
}



/*以下是 熱門排行*/



section.rankcontent p{
    color: white;
    font-size: 50px;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;

}

section.rankcontent p a{
    color: white;
    font-size: 40px;
    margin-left: 10px;
    text-decoration: none;
}



/*本周嚴選*/
article.commend{
    /* border: 5px solid rgb(82, 8, 49); */
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding-bottom: 100px;
    padding-top: 50px;
}
span.gray-line{
    color: rgba(142, 142, 142, 0.8);
    font-size: 50px;
    font-weight: lighter;
}


    div.commend_tittle>p{
        color: rgb(0, 0, 0);
        font-size: 50px;
        text-align: center;
        padding-top: 60px;
    }
    



div.commend_content{
    /* display: flex; */
    justify-content: space-around;
    overflow: hidden;
    position: relative;
}


div.commend_post{
    width: 70%;
    /* border: 5px solid rgb(82, 8, 49); */
}

div.commend_post a img {
width: 100%;
/* border: 5px solid rgb(200, 0, 110); */
}



.commend_right {
    width: 32%;
    margin-top: -1%;
    margin-bottom: .2%;
    background-color: rgb(17, 19, 28);
    /* border: 5px solid rgb(231, 0, 127); */
    position: absolute;
    margin-left: 60%;
    margin-top: -32%;
    box-shadow:10px 10px 10px rgba(20%,20%,40%,0.9),inset 1px 1px 1px 2px rgba(20%,20%,40%,0.2);
}




    div.commend_introduce{
        color: rgb(255, 255, 255);
        letter-spacing: 1.2px;
        width: 600px;
    }

    div.commend_introduce p{
        margin-left: 3%;
        font-size: 120%;
        font-weight: lighter;
        color: rgb(198, 198, 198);
    }


     h1{
        font-size: 150%;
        letter-spacing: 2px ;
        margin-left: 3%;        
        /* margin-top: 7%; */
    }

    h2{
        color: rgb(198, 198, 198);
        font-size: 120%;
        margin-left: 3%;
        font-weight: lighter;
    }

    /*以下是本周嚴選的撥放、更多資訊、加入收藏*/
    
    div.play_and_introduce_2{
        /* border: 1px solid rgb(255, 251, 16); */
        height: 50px;
        display: flex;
        margin-top: 5px;
        margin-bottom: 20px;
        margin-left: 10px;
    }
    
    
    div.p_btns{
        /* border: 1px solid rgb(255, 102, 0); */
        width: 100px;
        margin-right: 10px;
        border-radius: 10px;
        background-color: rgba(0, 120, 214,0.3);
    }
    
    div.p_btns:hover{
       
        background-color: rgba(153, 153, 153, 0.5);
        
        
    }
    
    div.p_btns>a{
        color: rgba(255, 255, 255);
        font-size: 20px;
        text-decoration: none;
        /* letter-spacing: 10px; */
        text-shadow: 1px 1px .5px rgb(0, 0, 0);
        line-height: 50px;
        /* margin-left: 25px; */
        display: block;
        text-align: center;
    }
    div.p_btns:hover a{
    
        color: black;
    }
    
   
 
 @media screen and (max-width:1500px){
    div.commend_right {
        position: static;
        margin: 0;
        margin-top: -5px;
    }

    div.commend_content{
        position: static;
        display: flex;
        flex-direction: column;
    }
    div.commend_post,.commend_right{
        width: 100%;
    }
    
}



div.upper-infor{
    display: flex;
    justify-content: space-around;
    width: 100%;
    }




  
    div.showbox_logo a>img{
        /* border: 5px solid rgb(30, 255, 0); */
        width: 190px;
        height: 60px;
        margin-top: 6px;
    }





    div.copyright p{
        color: rgb(255, 255, 255);
        font-size: 150%;
        font-weight: lighter;
        display: inline-block;
    }


    div.connect_socialmedia{
        margin-top: 17px;
    }

    div.connect_socialmedia a img{
        width: 40px;
        height: 40px;
        padding-right: 20px;
    }



@media screen and (min-width:576px) and (max-width:991px){
    div.upper-infor{
        flex-wrap: wrap;
    }

}
@media screen and (max-width:575px){
    div.upper-infor{
        flex-wrap: wrap;
    }

    div.copyright p{
        font-size: 100%;
    }
    div.showbox_logo a>img{
        width: 120px;
        height: 40px;
        margin-top: 4px;
    }
    div.connect_socialmedia a img{
        width: 30px;
        height: 30px;
    }

}

    div.slick-list img{
    width: 100%;
    }

button.slick-arrow::before{
    font-size: 80px;
}
button.slick-prev{
    z-index: 1;
    margin-left: -50px;
}


button.slick-prev::before{
    font-size: 40px;
    content: "";
    background-image: url(../img/arrowhead-thin-outline-to-the-left.png);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: 20px;
}







button.slick-next::before{
    /* font-size: 40px; */
    content: "";
    background-image: url(../img/arrow-point-to-right.png);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: 10px;
}

div.postsize{
    border-left: 2px solid rgba(0, 0, 0 ,0);
    border-right: 2px solid rgba(0, 0, 0 ,0);
    border-top: 70px solid rgb(0, 0, 0);
    border-bottom: 70px solid rgb(0, 0, 0);
    transition: 0.5s ease-in-out 0s;
    transform-origin: 50% 15%;
    position: relative;
    margin-left: -2px;
    box-sizing: border-box;
}

@media screen and (max-width:575px){
    button.slick-prev::before{
        display: none;
    }
    button.slick-next::before{
        display: none;
    }
    div.postsize{
        border-top: 0px solid rgba(0, 0, 0 ,0);
        border-bottom: 0px solid rgb(0, 0, 0);
    }

    div.container{
        margin-top: 15%;
    }
}







div.new-movie-infor{
    position: relative;
}
div.new-movie-infor h1{
    color: rgba(142, 142, 142, 0.8);
    font-size: 550%;
    font-weight: lighter;
    position: absolute;
    margin-left: -1px;
    margin-top: -17%;
}

div.new-movie-infor>h2{
    font-size: 150%;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    margin-top: 20%;
    margin-left: 10%;
    }

div.new-movie-infor>h3{
    font-size: 110%;
    font-weight: lighter;
    color: rgba(142, 142, 142, 1);
    margin-top:5%;
    margin-left: 10%;
    margin-bottom: -5%;
    }


    @media screen and (min-width:992px) and (max-width:992px){
        div.new-movie-infor h1{
            font-size: 440%;
        }
        div.new-movie-infor>h2{
            font-size: 80%;
        }
        div.new-movie-infor>h3{
            font-size: 70%;  
        }

    }

    @media screen and (min-width:768px) and (max-width:991px){
        div.new-movie-infor h1{
            font-size: 380%;
        }
        div.new-movie-infor>h2{
            font-size: 70%;
        }
        div.new-movie-infor>h3{
            font-size: 60%;  
        }

    }

    @media screen and (min-width:576px) and (max-width:767px){
        div.new-movie-infor h1{
            font-size: 350%;
        }
        div.new-movie-infor>h2{
            font-size: 60%;
        }
        div.new-movie-infor>h3{
            font-size: 50%;  
        }

    }

    @media screen and (max-width:575px){
        div.new-movie-infor h1{
            font-size: 340%;
            margin-bottom: -40%;
        }
        div.new-movie-infor>h2{
            font-size: 10px;
        }
        div.new-movie-infor>h3{
            font-size: 5px;  
            margin-bottom: -14%;
        }

    }






    .swiper-slide img{ 
        width:100%;
        height:100%;
     }

    