@charset "utf-8";

 

*{padding: 0;}
html,
body{font-family: "Microsoft YaHei";font-size: 14px;}
ul{list-style: none;}
a{text-decoration: none;color: inherit;}
.cui-btn{display: inline-block;height: 40px;padding: 0 30px;border: solid 1px transparent;border-radius: 2px;background: transparent;font-weight: 400;font-size: 14px;line-height: 38px;text-align: center;white-space: nowrap;vertical-align: middle;user-select: none;transition: 0.2s;}
.cui-btn-small{height: 32px;padding-left: 20px;padding-right: 20px;font-size: 12px;line-height: 30px;}
.cui-icon{font-family: 'cui-icon' !important;speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;display: inline-block;vertical-align: middle;font-size: 16px;}
.cui-icon-play:before{content: "\EA1A";}
.section-news{background: rgb(255, 255, 255);}
 .section p{color: rgb(0, 0, 0);
    font-size: 50px;
    margin-top: 1%;
    margin-bottom: -5%;
    text-align: center;}
.section-title{text-align: center;padding-top: 5%;padding-bottom: 6%;}
.section-title h1{position: relative;font-size: 36px;line-height: 50px;letter-spacing: 4px;color: #252b3a;}
.section-title h2{margin-top: 10px;font-size: 18px;line-height: 22px;letter-spacing: 2px;color: #666a75;}
.section-wrapper{max-width: 1280px;padding-left: 30px;padding-right: 30px;padding-bottom: 8%;margin-left: auto;margin-right: auto;}
.news-body{height: 540px;margin-left: 10px;margin-right: 10px;box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.12);}
.news-body:before,
.news-body:after{content: " ";display: table;box-sizing: inherit;}
.news-main{float: left;height: 100%;width: 32.5%; }
.news-main-card{display: block;position: relative;height: 100%;overflow: hidden;}
.news-main-card:hover .news-main-card-bg{transform: scale(1.1);}
.news-main-card-bg{position: absolute;top: 0;right: 0;bottom: 0;left: 0;background-size: cover;background-position: center;transition: 0.2s;}
.news-main-card-bg{position: absolute;top: 0;right: 0;bottom: 0;left: 0;background-size: cover;background-position: center;transition: 0.2s; overflow: hidden;}
.news-main-card-bg-mb{display: none;}
.news-main-card-top{position: relative;height: 310px;}
.news-play-btn{display: none;position: absolute;top: 70px;right: 0;bottom: 0;left: 0;width: 40px;height: 30px;background-color: rgba(255, 255, 255, 0.3);border-radius: 2px;margin: auto;font-size: 0;line-height: 30px;text-align: center;cursor: pointer;transition: 0.2s;}
.news-play-btn .cui-icon-play{font-size: 16px;color: #fff;}
.news-main-card-bottom{position: relative;height: 230px;padding: 5px 40px;}
h2.h2-text{
    margin-top: 100%;
    margin-bottom: 5%;
    color: rgba(255, 255, 255);
    font-size: 250%;
    letter-spacing: 1px ;
    text-shadow: rgba(0, 0, 0, 0.5) -1px -1px 3px, rgba(0, 0, 0, 0.5) 1px -1px 3px, rgba(0, 0, 0, 0.5) -1px 1px 3px, rgba(0, 0, 0, 0.5) 1px 1px 3px;
}

h3.h3-text{
    font-size: 150%;
    font-weight: lighter;
    letter-spacing: 1.5px;
    color: rgb(194, 194, 194);
    text-shadow: rgba(0, 0, 0, 0.5) -1px -1px 3px, rgba(0, 0, 0, 0.5) 1px -1px 3px, rgba(0, 0, 0, 0.5) -1px 1px 3px, rgba(0, 0, 0, 0.5) 1px 1px 3px;
    margin-top: 5%;
    margin-bottom: -2%;
}
.news-main-card-bottom .p{max-height: 40px;font-size: 14px;line-height: 20px;color: rgba(255, 255, 255, 0.7);display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.news-main-card-bottom .sub-p{position: relative;padding-left: 10px;font-size: 14px;line-height: 20px;color: rgb(0, 0, 0);}
.news-main-card-bottom .sub-p-date{margin-top: 10px;}
.news-main-card-bottom .sub-p:before{content: "";display: block;position: absolute;left: 0;top: 10px;border: solid 2px;border-radius: 50%;margin-top: -2px;}
.news-main-card-bottom .sub-p-author{margin-top: 5px;}
.news-main-card-bottom .btn-group{position: absolute;bottom: 30px;}
.cui-btn-outline-light{border: solid 1px #fff;color: #fff;}
.cui-btn-outline-light:hover{border-color: #f66f6a;background-color: #f66f6a;color: #fff;}
.news-main-card-bottom .btn-group .cui-icon{margin-top: -2px;margin-right: 8px;font-size: inherit;}
.news-sub{float: left;position: relative;height: 100%;width: 67.5%; margin-top: 2%;}
.news-list-v{position: absolute;height: 100%;width: 100%;visibility: hidden;opacity: 0;transition: 0s 0.2s;}
.news-list-v.show{z-index: 1;visibility: visible;opacity: 1;transition: 0.2s;}
.news-list-v:before,
.news-list-v:after{content: " ";display: table;box-sizing: inherit;}
.news-list-v:after{clear: both;}
.news-list-v>div{float: left;width: 33.33333333%;height: 50%; overflow: hidden;}
.news-list-card{display: block;position: relative;height: 100%;padding: 70px 40px 0;}
.news-list-card:hover .h3,
.news-list-card:hover .p{transform:scale(1.15);transform-origin: 100px 30px; transition:transform 0.8s;}
.news-list-card:hover .more{opacity: 1;color: #6F7479;}
.news-list-v>div:nth-child(5) .news-list-card{background-image: url(../img/secret_garden_xlg.jpg); background-size: cover}
.news-list-v>div:nth-child(1) .news-list-card{background-image: url(../img/assistant_xlg.jpg);background-size: cover}
.news-list-v>div:nth-child(2) .news-list-card{background-image: url(../img/current_war_ver6.jpg);background-size: cover}
.news-list-v>div:nth-child(4){width: 66.66666667%;}
.news-list-card .h3{
    margin-top: 1%;
    margin-bottom: 10%;
    color: rgba(255, 255, 255);
    font-size: 250%;
    letter-spacing: 1px ;
    text-shadow: rgba(0, 0, 0, 0.5) -1px -1px 3px, rgba(0, 0, 0, 0.5) 1px -1px 3px, rgba(0, 0, 0, 0.5) -1px 1px 3px, rgba(0, 0, 0, 0.5) 1px 1px 3px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    transition: transform 0.2s;}

.news-list-card .p{
    padding-left: 2%;
    font-size: 150%;
    font-weight: lighter;
    letter-spacing: 1.5px;
    color: rgb(194, 194, 194);
    text-shadow: rgba(0, 0, 0, 0.5) -1px -1px 3px, rgba(0, 0, 0, 0.5) 1px -1px 3px, rgba(0, 0, 0, 0.5) -1px 1px 3px, rgba(0, 0, 0, 0.5) 1px 1px 3px;
    margin-top: 3%;
    margin-bottom: -2%;
    text-align: start;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    transition: transform 0.2s;}


.section-bottom{padding-top: 40px;padding-bottom: 50px;}
.section-more-wrap{text-align: center;}
.section-more-wrap a{display: inline-block;font-size: 16px;line-height: 24px;color: #666a75;cursor: pointer;user-select: none;transition: 0.2s;}
.section-more-wrap a:hover{color: #f66f6a;}
.section-more-wrap .news-more{display: none;}
.section-more-wrap a .cui-icon{margin-top: -2px;margin-left: 10px;transition: transform 0.2s;}



@media screen and (max-width:991px){

    .news-body{
    display: flex;
    flex-direction: column;
    height: auto;
    }
    .news-main,.news-sub{
    width: 100%;
    }
    .news-sub{
        margin-top: -2px;
    }

    .news-main-card-bg{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center; 
    padding-bottom: 120%;
    }
    .news-main-card-bottom{
    margin-top: -75%;
    }
    h2.h2-text{
    margin-left: 4%;
    font-size: 250%;
    }

    h3.h3-text{
    font-size: 150%;
    margin-left: 6%;
    }

    div.news-list-v{
    display: flex;
    flex-direction: column;
    }

    .news-list-card{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center; 
    padding-bottom: 10%;
    height: auto;
    }

    .section-news{
        height: 2250px;
    }
    .news-list-v{
        height: auto;
    }

    .news-list-v>div{
        width: 100%;
    }

    .news-list-card .h3{
        margin-left: 3%;
        font-size: 300%;
    }

    .news-list-card .p{
        margin-left: 1%;
        font-size: 150%;
    }
    .news-list-v>div:nth-child(4){
        width: 100%;
    }

    .news-main-card-top{
        height: 300px;
    }

}